@model woontest.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.NameCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.NameCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateProduct)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
