@model IEnumerable<woontest.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Продукты</h2>

<p>
    @Html.ActionLink("Добавить продукт", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.NameCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateProduct)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.NameCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateProduct)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
